body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* This sets a base color for the entire page */
  }
  
  .PageWrapper {
    width: 100%;
  }
  
  .HeaderBar {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .HeaderBackground {
    width: 100%;
    height: 200px; /* Adjust this height to control the size of the colored section */
    background: linear-gradient(to right, #344E41, #ddd); /* Gradient below the header */
  }
  
  .MyPageContainer {
    background-color: #ffffff;
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -90px; /* Move up to overlap with the colored background */
  }
  
  .MainContent {
    display: flex;
    align-items: flex-start;
  }
  
  .ProfileSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    margin-top: 150px;
  }
  
  .ProfileIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  
  .ProfileDetails {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers text horizontally */
  }
  
  .MPName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .MPInfo, .MPAddress {
    color: #777;
    font-size: 14px;
  }
  
  .ActivitySection {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ddd;
    margin-top: 60px;
  }
  
  .RequestorActivity, .FootworkActivity {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .ActivityBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .ActivityItem {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 5px;
  }
  
  .ActivityItem p {
    margin: 0;
  }
  
  .ViewMapLink {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #d7e7cf;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
  }
  